@model IEnumerable<Employee_Signing_System.Models.EmployeeTempBadge>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignInT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignOutT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignInT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignOutT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
