@model IEnumerable<Employee_Signing_System.Models.Entity.EmployeeStandardVert>

@{
    ViewData["Title"] = "Home Page";
    var status = ViewBag.status;
}
@*Emp Sign In*@
@if (status != null)
{
    @if (status == 202)
    {
        <div class="alert alert-success" role="alert">
            <code>Request Created in Queue.</code>
        </div>
    }
    if (status == 400)
    {
        <div class="alert alert-danger" role="alert">
            <code>Request Not Created.</code>
        </div>
    }
    if (status == 406)
    {
        <div class="alert alert-danger" role="alert">
            <code>Request not Acceptable.</code>
        </div>
    }
    @*Signout Message*@
    if (status == 404)
    {
        <div class="alert alert-danger" role="alert">
            <code>Bad Request.</code>
        </div>
    }
    if (status == 200)
    {
        <div class="alert alert-success" role="alert">
            <code>Signed Out Successfully.</code>
        </div>
    }
}
<div class="text-center">
    <div>
        @using (Html.BeginForm("Get_EmpList", "Home", FormMethod.Get))
        {
            <label>@Html.DisplayNameFor(model=> model.EFirstName)</label>
            <input type="text" id="fname" name="fname" runat="server" />
            <label>@Html.DisplayNameFor(model=> model.ELastName)</label>
            <input type="text" id="lname" name="lname" runat="server" />
            <br />
            <input type="submit" value="submit" class="btn btn-success">
        }
    

    @if (Model != null && status!=406)
    {
        <div style="height:50px;"></div>
        <div>
            <h4>Results:</h4>
            <table class="container">
                <thead>
                    <th>Employee Picture</th>
                    <th>Employee Name</th>
                    <th></th>
                </thead>
                    @using (Html.BeginForm("Emp_EnQueue", "Home", FormMethod.Post))
                    {
                    <tbody class="table table-striped">
                        <div class="container">
                            @foreach (var item in Model)
                            {
                                <tr class="align-middle">
                                    @*<td>@Html.Label(item.EFirstName+" "+item.ELastName, new { @for = item.Id}) </td>*@
                                    <td><img src="@item.PhotoUrl" width="80" height="80" style="border-radius:50%" /></td>
                                    <td>@item.EFirstName @item.ELastName</td>
                                    <td> @Html.RadioButton("imgId", item.Id ,new {@id=item.Id}) </td>
                                </tr>
                            }
                        </div>
                            <input type="submit" value="Send Request!" class="btn border-success rounded">
                    </tbody>
                    }
            </table>
        </div>
    }
</div>
</div>
